* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(#949398FF, #F4DF4EFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outter {
    width: 300px;
    background-color: black;
    display: block;
    padding: 15px;
    border-radius: 12px;
}

.inner-display {
    margin-bottom: 7px;
    height: 100px;
    width: 284px;
    position: relative;
    background: whitesmoke;
    border-radius: 5px;
    margin-left: 8px;
    overflow: auto;

}

#display {
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 30px;
    overflow: hidden;
}

.inner-button {
    width: 100%;
    /* background-color: blanchedalmond; */

}

.button {
    width: 58px;
    height: 46px;
    padding: 0px;
    margin: 7px;
    border: 0px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
}

.key-operations {
    width: 58px;
    height: 46px;
    padding: 0px;
    margin: 7px;
    border: 0px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(249, 196, 98);
}